<section class="curved-header">
  <div class="mosaic">
    <!-- simple SVG mosaic-like wave and tiles -->
    <svg viewBox="0 0 1200 240" preserveAspectRatio="none" class="mosaic-svg">
      <defs>
        <linearGradient id="g1" x1="0" x2="1">
          <stop offset="0%" stop-color="#76B7E0"/>
          <stop offset="100%" stop-color="#D96C30"/>
        </linearGradient>
      </defs>
      <path d="M0,160 C150,220 350,60 600,120 C850,180 1050,40 1200,100 L1200,240 L0,240 Z" fill="url(#g1)"/>
    </svg>
  </div>
</section>
